/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%) !important; */
}

/* In your CSS file */
.smooth-progress {
  transition: transform 3s ease, --value 2s ease;
}

